body {
  background: #ebe5fa;
  font-family: "Lucida" Grande, sans-serif;
}

h1 {
  color: #303030;
  font-size: 30px;
  font-weight: 800;
  line-height: 38px;
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  color: rgb(75, 74, 74);
  font-size: 16px;
  font-weight: 250;
  line-height: 19px;
}

li::first-letter {
  text-transform: capitalize;
}
a:link {
  text-decoration: none;
}
.weather-app {
  background-color: white;
  max-width: 800px;
  margin: 60px auto;
  padding: 20px;
  border: 1px solid #dddae1;
  border-radius: 8px;
}

.weather-app-wrapper {
  max-width: 650px;
  margin: 30px auto;
}

.overview {
  margin-bottom: 15px;
}

.weather-temperature img {
  margin-top: -30px;
  margin-right: 0;
  height: 90px;
  width: 90px;
}

.weather-temperature strong {
  color: rgb(33, 33, 33);
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
}

.weather-temperature small {
  position: relative;
  font-size: 16px;
  top: -34px;
}

.weather-temperature .active {
  color: rgb(33, 33, 33);
  cursor: default;
  text-decoration: none;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: #000;
}

.weather-forecast-date {
  font-size: 16px;
  opacity: 0.5;
}

.weather-forecast-temperature-min {
  opacity: 0.5;
}

.weather-temperature-temperatures {
  font-size: 13px;
}

footer {
  margin-top: -55px;
}
